<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	 version="2.4">

    <display-name>running-routes</display-name>

    <context-param>
        <param-name>wicket.configuration</param-name>
        <param-value>${wicket.configuration}</param-value>
    </context-param>

    <filter>
        <filter-name>wicket.routing</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>com.exxeta.routing.WicketApplication</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>wicket.routing</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
 
    <servlet>
        <servlet-name>marker</servlet-name>
        <servlet-class>com.exxeta.routing.marker.MarkerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>marker</servlet-name>
        <url-pattern>/marker</url-pattern>
    </servlet-mapping>
 
</web-app>
